extends layout

block content
    h1 Peter and Yoel's Awesome Translator
    h4 #nailedit

    a(href="/translator", target="_self"): button Translator
    a(href="/quiz", target="_self"): button Quiz
    a(href="/progress", target="_self"): button Progress