extends layout 

block content
	h1 Quiz Page
	h4 #nailit

	.getQuiz
		input(type="text" name="quizFromLanguage" placeholder="Translate From")
		input(type="text" name="quizToLanguage" placeholder="Translate To")

		button#get-quiz Get Quiz 
	
	.quizContainer
		p Question #
			span#q-count
		h3#q-word
		h5#q-from-lang
		input#q-guess(type="text" name="quizAnswer")
		button#submitAnswer Submit
		
		.responseContainer
			p#a-response
			button#next-question Next Question

			button#restart-quiz New Quiz
			


